/* variables */
:root{
    --primary: #FFD302;
    --secondary: #CE5C02;
    --tertiary: #C4C4C4;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

/* base styles */
body {
    font-family: 'Gabriela Regular';
}
li {
    list-style-type: none;
}

/* fonts */
@font-face {
    font-family: 'Gabriela Regular';
    src: url('assets/fonts/Gabriela-Regular.ttf');
}

/* mobile styles */
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    box-sizing: border-box;
}
.head {
    font-size: 1.5em;
    padding: 0px 30px;
    text-align: center;
}
.slogan {
    font-size: 1.2em;
    padding: 0;
    text-align: center;
}
.back-img {
    background-image: url(assets/common-carder-bee.jpg);
    grid-column: 1/7;
    grid-row: 1;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% auto;
    height: 100px;
}
.container {
    width:180px;
    height:100px;
    position:absolute;
}
.logo {
    margin-top: 5px;
    width: 93px;
    height: 59px;
}
.deal {
    grid-column: 2/7;
    margin: 10px 0;
    height: 46px;
    width: 3fr;
    background-color: var(--tertiary); 
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}
.deal-text {
    text-align: center;
    justify-content: center;
}  
.nav {
    background-image: url(assets/hexagon.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 105px;
    align-items: center;
}

/*----------------------------------*/

.line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 8px auto;
    align-content: center;
}
.hamburger {
    height: 85px;
    width: 85px;
    position: relative;
    padding-top: 10px;
    cursor: pointer;
    transform: translate(12%, 20%)
}
.nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 0% 90%)
    -webkit-clip-path: circle(50px at 0% 90%);
    transition: all 1s ease-out;
}
.nav-links.open {
    clip-path: circle(1000px at 0% 90%);
    -webkit-clip-path: circle(1000px at 0% 90%); 
}


/*----------------------------------*/

.bees-main {
    width: 225px;
    height: 151px;
    border-radius: 10px;
    grid-column: 2/6;
    justify-self: center;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
}
.text {
    margin: 10px 0;;
}
.text .leading {
    grid-column: 2/6;
    justify-self: center;
}
h3 {
    grid-column: 2/6;
    text-align: center;
}
footer {
    padding: 20px 20px;
    background-color: var(--tertiary);
    position: absolute;
}
footer .opening-times {
    grid-column: 1/4;
    font-size: 0.9em;
}
footer .footer-main {
    grid-column: 5/7;
    font-size: 0.8em;
}


/* small tablet styles */
@media screen and (min-width: 620px){
  
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){

}

/* desktop styles */
@media screen and (min-width: 1200px){

}