/* variables */
:root{
    --primary: #FFD302;
    --secondary: #CE5C02;
    --tertiary: #C4C4C4;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* base styles */
body {
    font-family: 'Gabriela Regular';
    min-height: 100vh;
}
li {
    list-style-type: none;
}

/* fonts */
@font-face {
    font-family: 'Gabriela Regular';
    src: url(../assets/fonts/Gabriela-Regular.ttf);
}

/* mobile styles */
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    box-sizing: border-box;
}
.head {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 1.5em;
    padding: 0px 30px;
    text-align: center;
}
.slogan {
    position: absolute;
    bottom: 10px;
    left: 5;
    font-size: 1.2em;
    padding: 0;
    text-align: center;
}
.back-img {
    background-image: url(../assets/common-carder-bee.jpg);
    grid-column: 1/7;
    grid-row: 1;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% auto;
    height: 100px;
}
.container {
    width: 100%;
    height:100px;
    position:absolute;
    grid-row: 1;
}
.tel-number, .email-add {
    display: none;
}
.phone-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.email-icon {
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}
.logo {
    margin-top: 5px;
    width: 93px;
    height: 59px;
}
.deal {
    grid-column: 2/7;
    margin: 10px 0;
    height: 55px;
    width: 3fr;
    background-color: var(--tertiary); 
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}
.deal-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 55px;
}  

/*------------Mobile Nav------------*/

.home, .about, .events, .contact {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 3;
}
.hamburger {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 4;
}
.noSelect {
    user-select: none;
}

//X and Y translation keyframes
@keyframes myframes1 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-57px, -33px);   
    } 
}
@keyframes myframes2 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-57px, -33px);
    }
    100% {
        transform: translate(0px, -66px);
    } 
}
@keyframes myframes3 {
    0% {
        transform: translate(0, 0);
    }
    33% {
        transform: translate(-57px, -33px);
    }
    66% {
        transform: translate(0px, -66px);
    } 
    100% {
        transform: translate(-57px, -99px);
    }
}
@keyframes myframes4 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-57px, -33px);
    }
    50% {
      transform: translate(0px, -66px);
    } 
    75% {
      transform: translate(-57px, -99px);
    }
    100% {
      transform: translate(0px, -131px);
    }
}
 
// Calling the animations
.trigger.clicked .home {
    animation: myframes1 0.65s linear;
    animation-fill-mode: forwards;
}
.trigger.clicked .about {
    animation: myframes2 0.65s linear;
    animation-fill-mode: forwards;
}
.trigger.clicked .events {
    animation: myframes3 0.65s linear;
    animation-fill-mode: forwards;
}
.trigger.clicked .contact {
    animation: myframes4 0.65s linear;
    animation-fill-mode: forwards;
}

/*---------------------------------*/

/*----------- home.html -----------*/

.bees-main {
    width: 225px;
    height: 151px;
    border-radius: 10px;
    grid-column: 2/6;
    justify-self: center;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    margin: 10px 0px;
}
.text {
    margin: 10px 0;
    
}
.text1, .text2, .text3, .text4,
.text5, .text6, .text7, .text8,
.text9, .text10, .text11 {
    grid-column: 2/6;
    justify-self: center;
}
h3 {
    grid-column: 2/6;
    text-align: center;
}

/*---------------------------------*/

/*----------- about.html -----------*/

.about-text1, .about-text2, .about-text3,
.about-text4, .join-text {
    grid-column: 2/6;
    padding: 5px 0;
}
#the-team {
    grid-column: 1/7;
    justify-self: center;
    text-align: center;
}
.team-img {
    width: 110px;
    height: 163.93px;
    border-radius: 10px;
}
.crop {
    object-fit: cover;
}
.team-text {
    font-size: 1em;
    padding: 5px;
}
#the-team li {
    grid-column: span 3;
}
.vittoria {
    padding-top: 21px;
}

/*----------------------------------*/

/*---------- events.html ---------*/

.ed {
    grid-column: 2/6;
    text-align: center;
}
.ed-text {
    text-align: center;
    padding: 5px 0;
}
.ed-text1 {
    text-align: left;
    padding: 5px 0;
}
.daily {
    grid-column: 2/6;
    text-align: center;
}
.daily-text {
    text-align: center;
    padding: 5px 0;
}
.daily-text1 {
    text-align: left;
    padding: 5px 0;
}
.season {
    grid-column: 2/6;
    text-align: center;
}
.season-text {
    text-align: center;
    padding: 5px 0;
}
.season-text1 {
    text-align: left;
    padding: 5px 0;
}

/*--------------------------------*/

/*--------- contact.html ----------*/

.contact-leading {
    grid-column: 2/6;
    justify-self: center;
    text-align: center;
}
.form-container {
    margin-top: 25px;
    margin-bottom: 25px;
    grid-column: 2/6;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 90%;
    position: relative;
    z-index: 1;
}
.form-container .form-img {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../assets/common-carder-bee.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}
.form-img {
    border-radius: 10px;
}
label {
    margin: 5px 5px;
}
.form {
    height: 90%;
    margin: 10px;
    border-radius: 10px;
}
#name, #email, #subject, #message {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px; 
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    resize: vertical;
}
.button {
    text-align: center;
    font-family: inherit;
}
#submit {
    font-family: inherit;
    font-size: 1.5em;
    padding: 0 10px;
    border-radius: 10px;
    background-image: radial-gradient(#FFD302, #CE5C02);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-duration: 0.2s;
    transition-property: transform;
}
#submit:hover, #submit:focus, #submit:active {
    transform: scale(1.1);
}
/*----------------------------------*/

footer {
    margin-top: 20px;
    padding: 20px 0px;
    background-color: var(--tertiary);
    position: absolute;
    width: 100%;
    z-index: 2;
}
footer .opening-times {
    padding: 0px 20px;
    grid-column: 1/4;
    font-size: 0.9em;
}
footer .footer-main {
    padding: 0px 20px;
    grid-column: 5/7;
    font-size: 0.8em;
    margin-left: auto;
}

footer .footer-main {
    padding: 0px 20px;
    grid-column: 4/6;
    font-size: 0.8em;
    margin-left: auto;
}


/* small tablet styles */
@media screen and (min-width: 620px){

    .leading, .deal-text {
        font-size: 1.1em;
    }
    h3 {
        font-size: 1.3em;
    }
    .deal {
        grid-column: 3/7;
    }
    .bees-main {
        width: 280px;
        height: 187.91px;
    }
    footer .footer-main {
        padding: 0px 20px;
        grid-column: 4/6;
    }


    /*----------- about.html -----------*/

    .about-text2, .about-text3,
    .about-text4 {
    grid-column: span 2;
    }
    .about-text2 {
        margin-left: 15px;
    }
    .about-text3 {
        text-align: center;
        margin: 0 10px;
    }
    .about-text4 {
        text-align: right;
        margin-right: 15px;
    }
    #the-team li {
        grid-column: span 2;
    }
    .vittoria {
        padding-top: 0px;
    }
    .seb, .rosie {
        padding-top: 21px;
    }

    /*----------- events.html ----------*/

    .ed {
        grid-column: span 3;
        margin: 0 20px;
    }
    .daily {
        grid-column: span 3;
        margin: 0 20px;
    }

    /*------------Hexagon Nav------------*/

    .home, .about, .events, .contact {
        display: inline-block;
        position: fixed;
        bottom: 0;
        right: 0;
        cursor: pointer;
        svg {
            width: 106px;
        }
    }
    .hamburger {
        display: inline-block;
        position: fixed;
        bottom: 0;
        right: 0;
        cursor: pointer;
        svg {
            width: 106px;
        }
    }
    
    // X and Y translation keyframes
    @keyframes myframes1 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-75px, -43px);
        } 
    }
    @keyframes myframes2 {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(-75px, -43px);
        }
        100% {
            transform: translate(0px, -86px);
        } 
    }
    @keyframes myframes3 {
        0% {
            transform: translate(0, 0);
        }
        33% {
            transform: translate(-75px, -43px);
        }
        66% {
            transform: translate(0px, -86px);
        } 
        100% {
            transform: translate(-75px, -129px);
        }
    }
    @keyframes myframes4 {
        0% {
        transform: translate(0, 0);
        }
        25% {
        transform: translate(-75px, -43px);
        }
        50% {
        transform: translate(0px, -86px);
        } 
        75% {
        transform: translate(-75px, -129px);
        }
        100% {
        transform: translate(0px, -172px);
        }
    }

/*----------------------------------*/

}

/* large tablet & laptop styles */
@media screen and (min-width: 800px){

    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
    .head {
        font-size: 1.5em;
        padding: 0px 30px;
    }
    .slogan {
        font-size: 1.2em;
    }
    .back-img {
        grid-column: 1/9;
    }
    .logo {
        width: 110px;
        height: 69.78px;
    }
    .deal {
        grid-column: 4/9;
    }
    h3 {
        grid-column: 4/6;
    }
    footer .footer-main {
        grid-column: 6/8;
    }
    
    /*---------- home.html ---------*/
    .text1, .text2, .text5, 
    .text6, .text7, .text8 {
        grid-column: 2/5;
        padding: 5px 0px;
    }
    .bee1 {
        grid-column: 5/8;
        grid-row: 1/3;
        margin: auto;
    }
    .text3, .text4 {
        grid-column: 5/8;
        padding: 5px 0px;
    }
    .bee2 {
        grid-column: 2/5;
        grid-row: 3/5;
        margin: auto;
        transform: scaleX(-1);
    }
    .bee3 {
        grid-column: 5/8;
        grid-row: 5/9;
        margin: auto;
    }
    .h3-bees {
        grid-column: 3/7;
        margin: 10px auto;
    }
    .text9, .text10, .text11 {
        grid-column: 3/7;
    }
    /*----------------------------*/

    /*---------about.hmtl---------*/

    .about-text1 {
        grid-column: 3/7;
    }
    .about-text2 {
        grid-column: 2/4;
    }
    .about-text3 {
        grid-column: 4/6;
    }
    .about-text4 {
        grid-column: 6/8;
    }
    .about-bee1 {
        grid-column: 2/5;
    }
    .about-bee2 {
        grid-column: 5/8;
        grid-row: 3;
    }
    .join-text {
        grid-column: 3/7;
    }
    #the-team {
        grid-column: 2/8;
    }
    #the-team li {
        grid-column: span 3;
    }
    ul .tracey, .seb, .rosie{
        grid-row: 2;
    }

    /*----------------------------*/
    
    /*--------events.html---------*/
    .ed {
        grid-column: 2/5;
        grid-row: 2;
    }
    .daily {
        grid-column: 5/8;
        grid-row: 2;
    }
    .season {
        grid-column: 3/7;
        grid-row: 3;
    }
    /*----------------------------*/

    /*-------contact.html---------*/
    .contact-leading {
        grid-column: 2/5;
        margin: 30px 0;
    }
    .form-container {
        grid-column: 5/8;
        grid-row: 2/6;
    }    
    /*----------------------------*/
}

/* desktop styles */
@media screen and (min-width: 1200px){

    .grid {
        grid-template-columns: repeat(12, 1fr);
    }
    h3 {
        grid-column: 6/8;
    }
    /*---------- home.html ---------*/
    .text1, .text2, .text5, 
    .text6, .text7, .text8, .bee2 {
        grid-column: 4/7;
    }
    .bee1, .text3, .text4, .bee3 {
        grid-column: 7/10;
    }
    .h3-bees, .text9, .text10, .text11 {
        grid-column: 5/9;
    }
    /*----------------------------*/

    /*---------about.hmtl---------*/

    .about-text1, .join-text {
        grid-column: 5/9;
    }
    .about-text2 {
        grid-column: 4/6;
        text-align: center;
    }
    .about-text3 {
        grid-column: 6/8;
    }
    .about-text4 {
        grid-column: 8/10;
        text-align: center;
    }
    .about-bee1 {
        grid-column: 4/7;
    }
    .about-bee2 {
        grid-column: 7/10;
    }
    #the-team {
        grid-column: 4/10;
    }
    #the-team li {
        grid-column: span 4;
    }

    /*----------------------------*/

    /*--------events.html---------*/
    .ed {
        grid-column: 2/5;
    }
    .daily {
        grid-column: 5/9;
        padding: 0 35px;
    }
    .season {
        grid-column: 9/12;
        grid-row: 2;
    }
    .ed, .daily, .season {
        padding-bottom: 100px;
    }
    /*----------------------------*/

    /*-------contact.html---------*/
    .contact-leading {
        grid-column: 3/7;
        padding: 0px 30px;
    }
    .form-container {
        grid-column: 7/11;
    }    
    /*----------------------------*/
    /*----------- footer ---------*/
    footer .footer-main {
        grid-column: 11/13;
    }

    /*--------Desktop Nav --------*/
    .back-img, .slogan, .logo,
    .deal, .deal-text, .phone-icon, 
    .email-icon, .trigger {
        display: none;
    }
    .tel-number {
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
    }
    .email-add {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
    .head {
        font-size: 2em;
        top: 20px;
        left: 20px;
    }
    .desktop-header {
        grid-gap: 0;
        height: 250px;
        width: 100%;
    }
    .header-img {
        background-image: url(../assets/header-img.svg);
        background-repeat: no-repeat;
        background-size: fill;
        grid-column: 1/13;
    }
    .header-nav {
        background-image: url(../assets/header-nav.svg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        grid-column: 1/13;
        margin-bottom: 10px;
    }
    .home-nav {
        position: absolute;
        left: 275px;
        top: 135px;
        height: 100px;
        width: 95px;
    }
    .about-nav {
        position: absolute;
        left: 430px;
        top: 135px;
        height: 100px;
        width: 95px;
    }
    .events-nav {
        position: absolute;
        left: 580px;
        top: 135px;
        height: 100px;
        width: 95px;
    }
    .contact-nav {
        position: absolute;
        left: 740px;
        top: 135px;
        height: 100px;
        width: 95px;
    }
    header {
        margin-bottom: 50px;
    }
    /*----------------------------*/
}